
.Content{
    padding-top: 60px;
    gap: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.Content .imgCont{
    margin-top: 30px;
    width: 7rem;
    height: 7rem;
}

.imgCont img{
    width: 100%;
    height: 100%;
}

.Content .name{
    text-align: center;
}